<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
    <style>
      .boxwrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 10px;
      }
      .box {
        width: 250px;
        height: 250px;
        border: 5px solid black;
        border-radius: 10%;
      }
      h1 {
        text-align: center;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1
      onclick="alert('Did I just tie in multiple languages into one project? Why yes, yes I did.')"
    >
      Welcome! (Click me!)
    </h1>
    <div class="boxwrapper">
      {% for i in range (0,num) %}
      <div class="box" style="background-color: {{color}};"></div>

      {% endfor %}
    </div>
  </body>
</html>
